/* NO! NO! I don't care about old internet explorer */
html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.wrapper {
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    width: 580px;
    text-align: center;
}
h1 {
    font-size: 70px;
    color: #333;
    margin: 0;
}
a.mail {
    font-size: 24px;
    color: #DDD;
    text-decoration: none;
    margin: 0;
}

.icon-set {
    margin-top: 100px;
    display: flex;
}

.icon {
    width: 128px;
    height: 128px;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    -webkit-transition: all .7s ease-out;
       -moz-transition: all .7s ease-out;
        -ms-transition: all .7s ease-out;
         -o-transition: all .7s ease-out;
            transition: all .7s ease-out;
}


#github {
    background-image: url(../img/icon/github-128-black.png);
}
#github:hover {
    background-color: #1abc9c;
}

#twitter {
    background-image: url(../img/icon/twitter-128-black.png);
}
#twitter:hover {
    background-color: #2980b9;
}

#episodehunter {
    background-image: url(../img/icon/episodehunter-128-black.png);
}
#episodehunter:hover {
    background-color: #34495e;
}
